<!DOCTYPE html>
<html>

<head>
    <title>Pet Weather</title>
</head>
 
<body>
<table class="header">
    <tr>
        <td>
            <img src='https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1200px-Harvard_shield_wreath.svg.png' height=150 float=top>
        </td>
        <td>
            <span style="font-size:28px;">Harvard University</span><br>
            <span style="font-size:46px;">The Rex Fido School</span><br>
            <span style="font-size:22px;">of Animal and Atmospheric Studies</span>
        <td>
    <tr>
</table>

<hr>


<table class="list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Breed</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @parsed['pets'].each do |pet| %>
      <tr>
        <td><%= pet['id'] %></td>
        <td><%= pet['name'] %></td>
        <td><%= pet['type'] %></td>
        <td><%= pet['breed'] %></td>
        <td><%= pet['location'] %></td>
        <td><%= pet['latitude'] %></td>
        <td><%= pet['longitude'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="bigger">Add</button>

</body>

</html>
