<!DOCTYPE html>
<html>

<head>
    <title>Pet Weather</title>
</head>
 
<body>

<!-- Page header -->
<table class="header">
    <tr>
        <td>
            <img src='https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1200px-Harvard_shield_wreath.svg.png' height=150 float=top>
        </td>
        <td>
            <span style="font-size:28px;">Harvard University</span><br>
            <span style="font-size:46px;">The Rex Fido School</span><br>
            <span style="font-size:22px;">of Animal and Meteorological Studies</span>
        <td>
    <tr>
</table>
<hr>

<!-- Pet list -->
<div id="petList">
<table class="list">
  <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Take Umbrella?</th>
    </tr>
  </thead>

  <tbody>
    <% @parsed.each do |pet| %>
      <tr>
        <td><%= pet['id'] %></td>
        <td><%= pet['name'] %></td>
        <td><%= pet['type'] %></td>
        <td><%= pet['breed'] %></td>
        <td><%= pet['location'] %></td>
        <td><%= pet['latitude'] %></td>
        <td><%= pet['longitude'] %></td>
        <td><button type="button" class="btnNoBackground" onclick="openTakeUmbrellaForm(<%= pet['id'] %>)">Check Weather</button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btnWithBackground" onclick="openForm()">Add</button>
</div>

<!-- New Pet form -->
<div class="form-popup" id="myForm">
    <form id="newPetForm" class="form-container" method='post' action='home/save' onsubmit="return validateNewPet()">  
    <h1>New Pet </h1>

    <table>
        <tr>
            <td>
                <label><b>Name</b></label>    
                <input type="text" placeholder="Enter pet name" id="name" name="name" required>

                <label><b>Type</b></label>
                <input type="text" placeholder="Enter pet type" id="type" name="type" required>

                <label><b>Breed</b></label>
                <input type="text" placeholder="Enter pet breed" id="breed" name="breed" required>
            </td>
            <td rowspan=3>
                <span style="padding-left:15px;">&nbsp;</span>
            </td>
            <td>
                <label><b>Location</b></label>
                <input type="text" placeholder="Enter pet location" id="location" name="location" required>

                <label><b>Latitude</b></label>
                <input type="text" placeholder="Enter latitude between -90 and 90" id="latitude" name="latitude" required>

                <label><b>Longitude</b></label>
                <input type="text" placeholder="Enter longitude between -180 and 180" id="longitude" name="longitude" required>
            </td>
        <tr>
    </table>

    <button type="submit" class="btn">Save</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<!-- Javascript -->
<script>
function openTakeUmbrellaForm(id) {
    url = '../details/index/' + id
    window.open(url, '_self');
}

function openForm() {
  document.getElementById("petList").style.display = "none";
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("petList").style.display = "block";
}

function validateNewPet() {
    var error = ''

    // Validate that all text is proper length
    val = document.getElementById("name").value
    if(val.length > 50)
    {
        error += "Please enter 50 characters or less for name\n"
    }
    val = document.getElementById("type").value
    if(val.length > 50)
    {
        error += "Please enter 50 characters or less for type\n"
    }
    val = document.getElementById("breed").value
    if(val.length > 50)
    {
        error += "Please enter 50 characters or less for breed\n"
    }
    val = document.getElementById("location").value
    if(val.length > 50)
    {
        error += "Please enter 50 characters or less for location\n"
    }

    // Validate latitude is numeric and in range
    val = document.getElementById("latitude").value
    if(isNaN(val))
    {
        error += "Please enter a numeric Latitude\n"
    }
    else if(val < -90 || val > 90)
    {
        error += "Please enter Latitude between -90 and 90\n"
    }

    // Validate longitude is numeric and in range
    val = document.getElementById("longitude").value
    if(isNaN(val))
    {
        error += "Please enter a numeric Longitude\n"
    }
    else if(val < -180 || val > 180)
    {
        error += "Please enter Longitude between -180 and 180\n"
    }

    // Display errors and return false, leaving the user on the form
    if(error != '')
    {
        alert(error)
        return false;
    }
}

</script>

</body>

</html>
